/Android-Apps-1705 (copy).odt
/ASP-NET-MVC
/Cameras
/CV
/Dell-Precision-M6700
/formatted-docs
/.project
/Trains
/.vscode
/zync
*.7z
*.html
*.mht
*.pdf
*.zip
PF-Notes.md
/PM_Notes/SampleTree
_local-notes*.md
